Basic Arithmetic Operation

In [9]:
a= 20
b=5
sum_r=a+b
sub=a-b
prod=a*b
div=a/b

print("Sum:",sum_r)
print(f"Sum: {sum_r}")
print(f"Sub: {sub}")
print(f"Prod: {prod}")
print(f"Div: {div}")
print()
#or
print(f"Sum: {sum_r}", end=", ")
print(f"Sub: {sub}", end=", ")
print(f"Prod: {prod}", end=", ")
print(f"Div: {div}", end=" ")

Sum: 25
Sum: 25
Sub: 15
Prod: 100
Div: 4.0

Sum: 25, Sub: 15, Prod: 100, Div: 4.0

Power Operation

In [14]:
base=3
exp=3
print(pow(base,exp))  # 2^5
c=7
d=2
#modulus
mod=c%d
div1=c//d
print(f"Result of Modulus: {mod}")  # 7%2
print(f"Result of Floor Division: {div1}")  # 7//2[integer division]
print(f"Result of Floor Division: {c/d}")  # 7/2[float division]

27
Result of Modulus: 1
Result of Floor Division: 3
Result of Floor Division: 3.5

Absolute and round

In [17]:
num= -7.6
num2=2.8

print("Absolute: ", abs(num))
print("Num1 rount", round(num))
print("Num22 round", round(num2))

Absolute:  7.6
Num1 rount -8
Num22 round 3

Math Library

In [30]:
import math

sqrt= math.sqrt(16)
print("Square root:",sqrt)
print("Factorial: ", math.factorial(5))
print("sin30:", math.sin(math.radians(30)))

Square root: 4.0
Factorial:  120
sin30: 0.49999999999999994

Type Checking

In [31]:
a=5
b=9.3
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

String

In [ ]:
str1="Hello"
str2="World"
str3="Class"
# Concat
message=str1+" "+str2+" "+str3
print(message)
print(len(message))
# slicing
substr= message[2:7]
print("Sub:", substr)
#find substring
index=message.find("Class")
print("Index of Class:", index)  # returns -1 if not found
#replace
new_message= message.replace("World","Data Structure")
print("New Message:", new_message)

Hello World Class
17
Sub: llo W
Index of Class: 12
New Message: Hello Data Structure Class

In [ ]:
#split by whitespace
words= new_message.split(" ")
print(words)
print(len(words))
for word in words:
    print(word, end=" ")
words.append("2025")

print()
print(words)
print(len(words))
for word in words:
    print(word, end=" ")
print()
print(words[0])

print()
words.insert(1, "Engineers")
words

['Hello', 'Data', 'Structure', 'Class']
4
Hello Data Structure Class
['Hello', 'Data', 'Structure', 'Class', '2025']
5
Hello Data Structure Class 2025
Hello

['Hello', 'Engineers', 'Data', 'Structure', 'Class', '2025']

Set functions

In [152]:
set(words)
print(set(words))
print(sorted(words))
words.reverse()
print(words)
words.append("Hello")
words.pop(0) #removes from the last
words.pop(0) 
print(words.count("Hello"))
print(words[0].count('l'))

{'Data', 'Engineers', 'Hello', '2025', 'Class', 'Structure'}
['2025', 'Class', 'Data', 'Engineers', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Hello', 'Structure']
['Hello', 'Hello', 'Hello', 'Hello', '2025', 'Class', 'Structure', 'Data', 'Engineers', 'Hello', 'Hello', 'Hello']
6
2

LOOP

In [168]:
for i in range(5):
    print(i)

print()
for i in range(2,10):
    print(i)
    
print()
for i in range(2,10,2):
    print(i)

print()
for i in range(10,-1,-1):
    print(i)

0
1
2
3
4

2
3
4
5
6
7
8
9

2
4
6
8

10
9
8
7
6
5
4
3
2
1
0

In [172]:
# print only even numbers between range 0-20
for i in range(0,21):
    if i%2==0:
        print(i)
print()
for i in range(0,21):
    if i%3==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20

0
3
6
9
12
15
18

In [176]:
count=0
for i in words:
    count=count+i.count('l')
    print(i)
    
print(f"Total number of l's in the list: {count}")

Hello
Hello
2025
Class
Structure
Data
Engineers
Hello
Hello
Hello
Hello
Total number of l's in the list: 13

In [177]:
str="poiuytrfgnmmnbvuiop"
for i in str:
    print(i)

p
o
i
u
y
t
r
f
g
n
m
m
n
b
v
u
i
o
p